 
 
 /*  EVERYTHING  */
 
 *:link, *:visited  {
    color:black;
}

html {
    font-size: 16px;
    color: black;
    background-color: rgb(232, 232, 236);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
 
 /* heading */
h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    text-align: center;
}

 h4 {
     font-size: 1rem;
     text-transform: uppercase;
     margin-bottom: 1rem;
 }

s {
    text-decoration: line-through;
}

 /*   1. HEADER      */

header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    text-transform: uppercase;
    width: 100%;
    position:fixed;
    margin-top: -4rem; /* to not overflow sub-menu*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.404);
    z-index: 1;
}
        header .logo img {
            width: 10rem;
        }

        header .search-bar {
            width: 40%;
            margin: 0 1rem;
        }
        header .search-bar input {
            width: 100%;
            border-radius:5px;
            background-color: white;
            background-image: url("../img/search-icon.png");
            background-repeat: no-repeat;
            background-size: 3%;
            background-position: right;
            padding: 0.1rem 0;
            border: 3px solid transparent;
        }
        header ul {
            display: flex;
            flex-direction: row;
        }

                header ul li {
                    padding: 0 1em;
                    font-size: 1.1rem;
                    font-weight:200;
                }


/* 2. MAIN  */

/*------   SUB MENU   */
        .sub-menu ul {
            display: flex;
            justify-content: space-around;
            margin-top: 4rem;   /* margin top to not be behing fixed nav-bar*/
            padding: 1rem 1rem;
            background-color: rgb(232, 232, 236);
            font-size: 1rem;
            font-weight:bold;
            text-transform:uppercase;
        }

        .sub-menu li {
            margin: 0 1rem;
        }
        .sub-menu ul li:hover {
            transform: scale(1.05);
            font-weight: bold;
        }

            .sub-menu .emphasis-menu {
                color: rgb(14, 14, 131);
            }

/*------  HERO         */

.banner {
    width: 100;
}
   .carousel-inner {
       height: 400px;
   }


/*   prop-bar   */

.prop-bar {
    background-color: rgb(14, 14, 131);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .prop-bar .prop-icon {
        display: flex;
        align-items: center;
    }

            .prop-bar svg {
                fill: white;
                height: 40px;
                margin: 1rem;
            }

            .prop-bar .text {
            display: flex;
            flex-direction: column;
            width: 10rem;
            }

                    .prop-bar h4 {
                        font-size: 1rem;
                        color: white;
                        text-transform: uppercase;
                        margin: 0;
                    }

                    .prop-bar p {
                        color: rgb(224, 219, 219);
                        font-size: 0.8rem;
                        margin: 0;
                    }


/*------  article    */

        .glider-container {
            margin: 2rem 6rem;
            text-align: center;
            display: flex;
            align-items: center;
        }

        .responsive-next, .responsive-prev {
            padding: 0 1rem;
            font-size: 3rem;
            color: rgb(103, 103, 107);
        }

                     .figure-container {
                    display: flex;
                    flex-direction: column;
                    margin: 1rem;
                    background-color: rgb(207, 207, 232);
                    box-shadow: 5px 5px 10px 0 rgb(202, 198, 198);
                    align-items: center;
                    justify-content: space-between;
                    width:15rem;
                    height: 25rem;
                    border-radius: 10px;
                }

                        .figure-container:hover {
                            transform: scale(1.05);
                            background-color:white;
                            box-shadow: 12px 12px 10px rgb(204, 204, 204);
                        }

                        .figure-container .img-container {
                            height: 50%;
                            margin: 0.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
            
                        }
                                .img-container img {
                                    max-width:100%;
                                    max-height: 100%;
                                }
                        
                        .figure-container figcaption {
                            margin: 0 1rem;
                            text-align: left;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }

                                figcaption .description {
                                    margin-bottom: 0.5rem;
                                }

                                figcaption .details {
                                    font-size: 0.7rem;
                                    color:gray;
                                }

                                figcaption .preco {
                                    color: red;
                                    font-weight: bold;
                                }
                        .figure-container button {
                            background-color: rgb(14, 14, 131);
                            color:white;
                            border-radius: 5px;
                           
                            padding: 0.2rem 1rem;
                            margin-bottom: 1rem;
                        }

                        .figure-container button:hover {
                            box-shadow: 5px 5px 10px rgb(109, 109, 109) ;
                            transform: scale(1.1);
                        }

/*----- newsletter      */

#newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 131);
    background-size: cover;
    color: white;
    padding: 1rem;
}

    #newsletter svg{
        padding-right: 2rem;
        height: 40px;
        fill: white;
    }


    #newsletter h4 {
        font-size: 1.75rem;
        font-weight: bold;
        margin-bottom: 0%;
    }
    #newsletter p {
       color:rgb(224, 222, 228);
    }

    #newsletter input {
        width: 40%;
        margin: 0 1rem;
        padding: 0.5rem;
        border-radius: 5px;
    }

    #newsletter button {
        background-color: rgb(14, 14, 131);
        border-radius: 5px;
        border-color: white;
        border-width: 3px;
        color:white;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
    }


/*-----   FOOTER     */

footer {
    display: flex;
    justify-content: space-between;
    color:white;
    background-color: black;
    padding: 1rem;
}
        .footer-section {
            padding: 0 0.5rem;
        }

        .footer-section p {
            color: rgb(190, 186, 186);
        }

        .icone-footer {
            display: flex;
            flex-direction: row;
        }
