<main>
    <form #usersForm = "ngForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="loginModel.email">
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" [(ngModel)]="loginModel.senha">
        </div>
        <button id="botao-enviar" type="submit">Fazer Login</button>
    </form>
    <p id="mensagem" *ngIf=" mensagem !='' ">{{mensagem}}</p>
    
</main>
